body {
  font-family: "Roboto", sans-serif;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

.full_website {
  width: 1350px;
  margin: auto;
}

.header_section {
  background: #000;
  margin: 0;
}

.header_section .left {
  float: left;
  width: 40%;
  padding-left: 30px;
  box-sizing: border-box;
}

.header_section .left .logo .logo_inner {
  line-height: 22px;
}

.header_section .left .logo .logo_inner a {
  color: white;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.header_section .left .logo .logo_inner a img {
  width: 80px;
  display: block;
  position: absolute;
  top: 32px;
  left: 2px;
}

.header_section .right {
  float: right;
  width: 60%;
  padding: 0 50px;
  box-sizing: border-box;
}

.header_section .right .menu ul {
  margin: 0;
  padding: 0;
  text-align: right;
  line-height: 59px;
}

.header_section .right .menu ul li {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.header_section .right .menu ul li a {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: 0.4s;
}

.header_section .right .menu ul li:hover > a {
  color: #888;
}

.header_section .right .menu ul li:hover ul {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.header_section .right .menu ul li ul {
  position: absolute;
  width: 200px;
  top: 83%;
  left: 0;
  background: #000;
  margin: 0;
  padding: -5px 0;
  text-align: center;
  border-top: 3px solid white;
  transform: translateY(30px);
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

.header_section .right .menu ul li ul li {
  display: block;
  border-bottom: 1px solid rgba(221, 221, 221, 0.418);
  padding: 0 !important;
}

.header_section .right .menu ul li ul li a {
  display: block;
  padding: 0;
  font-size: 18px;
}

/*============== (~ banner_section ~) =================*/
.banner_section {
  background: url(./img/bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 250px 0;
}

.banner_section .banner_content {
  margin-left: 200px;
}

.banner_section .banner_content h2 {
  font-size: 55px;
  text-transform: capitalize;
  margin: 0;
}

.banner_section .banner_content p {
  padding: 0;
  margin: 0;
  font-size: 25px;
  text-transform: capitalize;
  color: #444;
}

.banner_section .banner_content a {
  display: inline-block;
  padding: 20px 45px;
  background: #000;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  margin: 20px 0;
  transition: .4s;
  border: 1px solid rgba(0, 0, 0, 0);
}

.banner_section .banner_content a:hover {
  background: rgba(0, 0, 0, 0.123);
  color: white;
  border: 1px solid white;
}

/*============== (~ about_section ~) =================*/
.about_section {
  background: #444444;
}

.about_section .left {
  float: left;
  width: 55%;
  padding-left: 113px;
  box-sizing: border-box;
  margin-top: 50px;
}

.about_section .left h5 {
  text-transform: capitalize;
  font-size: 30px;
  margin: 0;
  padding-top: 35px;
  color: white;
}

.about_section .left p {
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  padding: 0;
  margin-top: 10px;
  color: #ddd;
}

.about_section .right {
  float: right;
  width: 40%;
  padding: 40px;
  box-sizing: border-box;
}

.about_section .right img {
  width: 340px;
  border: 1px solid #afaeae;
  outline: 1px solid #747171;
  outline-offset: 2px;
}

/*============== (~ tam_section ~) =================*/
.tam_section {
  background: #458b83;
  padding: 50px 0;
}

.tam_section .title h1 {
  text-align: center;
  font-size: 45px;
  margin: 50px 0;
  text-transform: uppercase;
}

.tam_section .team_inner_section .team_box {
  width: 33.33%;
  float: left;
}

.tam_section .team_inner_section .team_box .box_inner {
  text-align: center;
  margin: 40px;
}

.tam_section .team_inner_section .team_box .box_inner img {
  width: 80%;
}

.tam_section .team_inner_section .team_box ul {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.tam_section .team_inner_section .team_box ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.tam_section .team_inner_section .team_box ul li i {
  width: 30px;
  height: 30px;
  background: #000;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  transition: .4s;
}

.tam_section .team_inner_section .team_box ul li:hover i {
  background: white;
}

.tam_section .team_inner_section .team_box ul li:hover a {
  color: black;
}

.tam_section .team_inner_section .team_box ul li a {
  color: white;
  transition: .4s;
  display: inline-block;
}

.footer_section {
  background: #000;
  padding: 20px 0;
}

.footer_section p {
  color: white;
  text-align: center;
}

.footer_section p a {
  text-decoration: none;
  color: #458b83;
  transition: .4s;
}

.footer_section p a:hover {
  color: white;
}
