table{
    width: 610px;
    height: 400px;
    text-align: center;
}
.title_color{
    color:#6a217a;
}
.table_head_bg{
    background: #ffff00;
}
.teachers_name_col_bg{
    background: #ffcccc;
}
.room_no_col_bg{
   background: #c4e538; 
}
/* ==========day col bg color list=========  */
.color_1{
    background: #f6b93b;
}
.color_2{
    background:#ff3f34;
}
.color_3{
   background: #0fbcf9; 
}
.color_4{
    background: #78e08f;
}
.color_5{
    background: #d980fa;
}
.color_6{
    background: #d1d8e0;
}
/* ==========Class Time col bg color list=========  */
.color_7{
    background: #ff6b81;
}
.color_8{
    background: #2ed573;
}
/* ==========course col bg color list=========  */
.color_9{
    background: #ee82ee;
}
.color_10{
    background:#8e4abe;
}
.color_11{
    background:#2222fd6b;
}
.color_12{
    background:#008000;
}
.color_13{
    background:#ffff00;
}
.color_14{
    background:#ffa500;
}
