* {
    padding: 0;
    margin: 0;
}

.full_website {
    width: 1300px;
    margin: auto;
    border: 1px solid #000;

    // header seaction
    .header {
        background: rgb(46, 45, 45);
        padding: 5px 0;

        .left {
            width: 49%;
            display: inline-block;

            h1 {
                color: white;
                padding: 0 20px;
                font-size: 40px;
                text-transform: uppercase;
            }

        }

        .right {
            width: 50%;
            display: inline-block;
            text-align: right;

            ul {
                padding: 0 20px;
                margin: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-left: -4px;

                    a {
                        display: block;
                        text-transform: uppercase;
                        color: white;
                        text-decoration: none;
                        font-size: 20px;
                        margin-left: 25px;
                        transition: .4s;

                        &:hover {
                            color: #ddd;
                        }

                        span {
                            width: 0%;
                            height: 1px;
                            background: red;
                            display: block;
                            margin: 0;
                            transition: .4s;
                            padding: 0;
                        }
                    }

                    &:hover a span {
                        width: 100%;
                    }
                }
            }
        }
    }

    // banner_section
    .banner_section {
        background: url(./img/bg.jpg) center center no-repeat;
        background-size: cover;

        .black_overlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.342);
            padding: 100px 60px 0 60px;

            .left {
                width: 49%;
                display: inline-block;
                .left_content_wrap {
                    margin-top: 10px;
                    h4 {
                        color: #ff8405;
                        margin-top: 90px;
                    }

                    h1 {
                        color: white;
                    }

                    span {
                        width: 160px;
                        display: inline-block;
                        height: 3px;
                        background: #ff8405;
                        margin-bottom: 30px;
                    }

                    p {
                        color: white;
                        font-weight: 400;
                        padding-bottom: 10px;
                    }

                    a {
                        display: inline-block;
                        padding: 10px 30px;
                        border: 1px solid #fff;
                        font-size: 15px;
                        text-decoration: none;
                        text-transform: uppercase;
                        margin: 0 3px;
                        color: white;
                        transition: .4s;
                        font-weight: 600;
                    }

                    .btn1 {
                        background: #ff8405;

                        &:hover {
                            background: #ff82058e;
                        }
                    }

                    .btn2:hover {
                        background: #ffffff;
                        color: #ff8405;
                    }
                }

            }

            .right {
                width: 49%;
                display: inline-block;

                .img_div {
                    text-align: right;
                    padding: 0 30px;

                    img {
                        width: 350px;
                    }
                }
            }
        }
    }
// about_section
.about_section{
    div.div{
        width: 40%;
        display: inline-block;
        overflow: hidden;
        text-align: right;
        padding-right: 40px;
        img{
            width: 280px;
            height: 280px;
            border-radius: 50%;
            border: 1px solid#ff8405;
        }
    }
    div.div_2{
        width: 49%;
        display: inline-block;
        padding-left: 20px;
        h2{
            text-transform: capitalize;
            margin-top: 90px;
            margin-bottom: 0;
        }
        span{
            width: 150px;
            height: 2px;
            background: rgb(195, 194, 194);
            display: inline-block;
            
        }
        p{
            text-align: justify;
        }
        a{
            display: inline-block;
            background: #ff8405;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 40px;
            color: white;transition: .4s;
            font-weight: 600; border: 1px solid #ff8405;
            &:hover{
                background: white;
                color: #ff8405;
                border: 1px solid #ff8405;
            }
        }
    }
}


// .service_section
.service_section{
    padding: 100px 0;
    text-align: center;
    .title{
        text-align: center;
        text-transform: uppercase;
        padding: 60px 0;
        border-top: 1px solid rgba(219, 219, 219, 0.63);
        p{
            padding: 0 180px;
        }
        h1{
            margin-bottom: 0;
        }
        span{
            background: red;
            width: 110px;
            height: 2px;
            display: inline-block;
        }
    }
    .services{
        .service_box{
            width: 30%;
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
            background: rgb(243, 243, 243);
            padding: 40px 20px;
            margin: 10px;
            box-shadow: 1px 1px 5px rgb(173, 173, 173);
            border-radius: 2px;
            transition: .3s;
            .icon_div{
                i{
                    font-size: 40px;
                    margin-bottom: 20px;
                }
            }
            h3{
                text-transform: uppercase;
                color: #ff8405;
            }
            span{
                width: 0%;
                height: 3px;
                display:block;
                background: rgb(255, 0, 0);
                margin-top: 30px;
                transition: .5s;

            }
            &:hover{
                box-shadow: 1px 1px 10px rgb(104, 104, 104);
            }
            &:hover i {
                color: red;
            }
            &:hover span{
                width: 100%;
            }
        }
    }
}

// team_section
.team_section{
    background:#dfe6e975;
    padding: 100px;
    .service_section{
        padding: 0;
    }
    .service_section .title{
        border-top: none;
        p{
            padding: 0 180px;
        }
      h1{
          border-top:none;
      }
    }
    .team_container{
        text-align: center;
        .team_box{
            width: 23%;
            display: inline-block;
            margin: 6px;
            position: relative;
            overflow:hidden;
            border-radius: 5px 5px 0 0;
            box-shadow: 1px 1px 5px rgb(0, 0, 0);
            border: 1px solid#b2bec3;
            .our-team{
               
                img{
                    width: 100%;
                }
                .team-content{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right:0;
                    width: 100%;
                    height: 0%;
                    background:#e74d3cd0;
                    visibility: hidden;
                    opacity: 0;
                    transition: .6s;
                    overflow: hidden;
                    .fa-user-circle{
                        margin-top: 120px;
                        font-size:60px;
                        margin-bottom: 10px;
                        color: rgb(255, 255, 255); 
                    }
                    h3{
                        text-transform: uppercase;
                        color: white;
                        font-weight: 500;
                        padding: 10px 0 0 0;
                    }
                    span{
                        color: white;
                        text-transform: capitalize;
                        font-size: 20px;
                    }
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            list-style: none;
                            display: inline-block;
                            margin: 5px;
                            a{
                                display: block;
                                font-size: 20px;
                                color: white;
                                background: #3498db;
                                width: 30px;
                                height: 30px;
                                border-radius: 20% 10%;
                                transition: .4s;
                                &:hover{
                                    background: rgb(255, 255, 255);
                                    color:  #3498db;
                                }
                            }
                        }
                    }
                }
                &:hover  .team-content{
                    // top: 0;
                    // left: 0;
                    // right:0;
                    width: 100%;
                    height: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}


// footer_section
.footer_section{
    .footer_container{
        padding: 50px 0;
        .div1{
            width: 25%;
            display: inline-block;
            padding: 20px;
            box-sizing: border-box;
            h3{
                color: red;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 5px;
                padding-left: 12px;
                border-radius: 15px;
                border-bottom: 1px solid rgba(156, 156, 156, 0.5);
            }
            ul{
                margin: 0;
                padding: 0;
                padding-left: 12px;
                li{
                    list-style: none;
                    a{
                        display: inline-block;
                        text-transform: capitalize;
                        text-decoration: none;
                        color: black;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
        .div2{
            width: 49%;
            display: inline-block;
            h3{
                color: red;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 5px;
                padding-left: 12px;
                border-radius: 15px;
                border-bottom: 1px solid rgba(156, 156, 156, 0.5);
            }
            p{
                padding-left: 12px;
                text-align: justify;
                padding-right: 12px;
            }
        }
    }
    .social_icon{
        background: #000;
        text-align: center;
        border-top: 1px solid rgba(200, 200, 200, 0.424);
        ul{
            margin: 0;
            li{
                list-style: none;
                display: inline-block;
                a{
                    padding: 10px;
                    display: block;
                    color: #ff8405;
                    font-size: 25px;
                    transition: .4s;
                    &:hover{
                        color: green;
                    }
                }
            }
        }
        P{
            text-align: center;
            color: white;
            padding-bottom: 10px;
            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                &:hover{
                    color: green;
                }
            }
        }
    }
}















}