$color_one :#e53f83;
$color_two :#1cad92;
$color_three :#00aebc;
$white_color: #fff;
header{
    height: 500px;
    background: url(../images/ddd.jpg);
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}
.panel-heading {
    padding: 0;
    margin: 0;
}

body {
    user-select: none;
    border: 10px double $color_three;
}

#classitemdesign {
    margin: 15px 0;
}

#main_accordion {
    width: 80%;
    margin: auto;
}

.panel-title {
    background-color: rgb(252, 252, 252) !important;
    display: block;
    transition: .4s;

    p {
        margin: 0 !important;
        padding: 15px 20px;
        cursor: pointer;
        user-select: none;
        color: #000;

        .class_icon {
            margin-right: 10px;
        }
    }
}

.panel-title[aria-expanded="true"] {
    background: $color_one !important;

    p {
        color: $white_color !important;
    }
}

// video item
.video_item{
    position: relative;
}
.video_item_title {
    background: $color_three;
    margin: 13px;
    color: $white_color;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
    padding-left: 15px;

    &:hover {
        background-color: $color_two;
    }
}

.video_item_title[aria-expanded="true"] {
    background: $color_two !important;

    p {
        color: $white_color !important;
    }
}
// video iframe
iframe{
    width: 100% !important;
    height: 50vh !important;
}
#youtube_video_link {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    display: inline-block;
    position: absolute;
    top: 4px;
    font-size: 23px;
    right: 32px;
    z-index: 99;
    transition: .4s;
    display: inline-block;
    pointer-events: all;
    &:hover{
        color: yellow;
    }
}
