body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.full_website {
  width: 1000px;
  margin: auto;
}

.full_website .main {
  border: 1px solid #ddd;
  padding: 40px 20px;
  margin-top: 100px;
  border-radius: 3px;
}

.full_website .main a {
  text-decoration: none;
}

.full_website .main .row {
  margin-bottom: 14px;
}

.full_website .main .logo_section img {
  width: 150px;
}

.full_website .main .logo_section h3 {
  font-size: 20px;
}

.full_website .main .form-control:focus {
  box-shadow: none;
}

.full_website .main .input-group #email {
  border-right: none;
}

.full_website .main .input-group #email:focus + .input-group-text {
  border: 1px solid #86b7fe;
}

.full_website .main .input-group .input-group-text {
  background: transparent;
}

.full_website .main .bi-eye-slash {
  line-height: 10px;
}

.full_website .main .password_group i {
  line-height: 40px;
  display: inline-block;
}

.full_website .footer_section {
  margin-top: 5px;
}

.full_website .footer_section .language_selection {
  position: relative;
}

.full_website .footer_section .language_selection::before {
  content: "\f107";
  font-family: "font awesome 5 free";
  font-weight: 600;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  background: #ddd;
  right: 283px;
  top: 3px;
  position: absolute;
  color: #696868;
  border: 1px solid rgba(0, 0, 0, 0.26);
  pointer-events: none;
}

.full_website .footer_section .language_selection select {
  border: none;
  outline: none;
  padding-right: 20px;
  text-align: center;
}

.full_website .footer_section .link ul {
  padding: 0;
  text-align: right;
  margin: 0;
}

.full_website .footer_section .link ul li {
  display: inline-block;
  padding: 0 5px;
}

.full_website .footer_section .link ul li a {
  color: #555;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
